@import url("https://fonts.googleapis.com/css?family=Comfortaa|Patua+One");

/*Typography
--------------------------------------------------------------*/
body,
button,
input,
select,
textarea {
	color: #404040;
	font-family: "Comfortaa", Arial, sans-serif;
	font-size: 14px;
	line-height: 1.5;
}
/* body {
    margin: 0px;
    background: #0e0e0e;
    height: 100%;
} */

h1,h2,h3,h4,h5,h6 {
  font-family: "Patua One", serif;
  letter-spacing: 2px;
}

.blue {
    background-color: aliceblue;
}

.green {
    background-color: darkseagreen;
}

.purple {
    background-color: mediumorchid;
}

.red {
    background-color: darksalmon;
}


.catalog__harvestArr { 
    display: flex;
    flex-wrap: wrap;
    aspect-ratio: auto;
    background-color: rgb(222, 235, 101);
}

.plant {
    width: 16.667%;
    padding: 0.5rem;
    padding-bottom: 4rem;
}

